
header{
  padding-top: 0;
  position:fixed;
  width: 100%;
  height: 220px;
  background-image: url(ma3.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  z-index: 1;
}
img.logo{
  width: 650px;
  height: 122px;
}
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}
.contenido {
  padding-top: 220px;
position: static;
padding-left: 20px;
}

  p, h2, h3 {

    color: rgb(255, 255, 255);
    font-family: terminalfont;}
 
    h3{
      font-size: 24px;
      padding-top: 20px;
    }
  

@font-face {
  font-family: SigmarOne;
  src: url(fonts/SigmarOne-Regular.ttf);
  font-weight: bold;
  }

@font-face {
  font-family: terminalfont;
  src: url(fonts/terminalfont.ttf);
  font-weight: bold;
}
h1 {
  font-family: terminalfont;
  font-size: 50px;
  color: rgb(255, 200, 0);
  text-align: center;
  height: 80px;
  font-size-adjust: 0.6;
}
.barranav div{
  width: 100%;
  height: auto;
  align-self: center;
  
}
div ul li a{
  border: 1px solid rgb(0, 0, 0);
  float: left;
  text-align: center;
  background-color: rgba(43, 43, 43, 0.3) ;
  width: 100%;
  text-decoration: none;
}
div ul li a:hover{
  text-decoration: underline white;
}

div ul{
  list-style: none ;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}

div li{
  width: 100%;
  height: 100%;
  background-color: rgb(45, 45, 45);
}

.navegador p {
  font-family: terminalfont;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
div.logo{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.subtitulo {
  text-align: center;
  font-family: terminalfont;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

@keyframes example {
  0%   { opacity: 1;}
  50% { opacity: 0 ;}
  100% { opacity: 1;}
}
div.imgindex {
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes zoomin {
  0% {width: 0px; }
  100% {width: 80%;}
}

.imgindex img{
  width: 80%;
  padding-top: 30px;
  animation-name: zoomin;
  animation-duration: 2s;
}
#subtituloanimado{
  text-align: center;
  font-family: terminalfont;
  font-size: 100px;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}



#bienvenida{
  text-align: center;
  font-family: terminalfont;
  font-size: 50px;
  padding-top: 30px;
}

#entrar{
  text-decoration-line: none;
  border: 1px solid white;
  width: 400px;
  height: 240px;
  margin-top: 10px;
  padding-bottom: 30px;
}
#subtituloanimado:hover{
  text-decoration-line: underline;
  text-decoration-color: white;
  animation-name: example;
  animation-iteration-count: initial;
}

#diseños{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#diseños img{
  width: 400px;
  height: auto;
  padding: 50px
}

div.contenido p.pcentrado{
  text-align: center;
}

#bandas{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bandas img{
  width: 300px;
  height: auto;
  padding: 50px;
}

.biocontent{
  padding: 240px 100px 0px 100px;
  position: static;
  display: flex;
  flex-flow: row;
  justify-content: center;
  animation-name: fadein;
  animation-duration: 1s;
}
.biocontent div{
  padding: 0px 50px
}
.biocontent img{
  width: 300px;
  height: 300px;
}

#suricato{
  width: 50%;
}

#liebres{
  width: 50%;
}
@keyframes fadein {
  0%   { opacity: 0;}
  100%  { opacity: 1;}
}
.contenido{
  animation-name: fadein;
  animation-duration: 1s;
}

.flip{
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 1s ease;
  transform-style: preserve-3d;
  }
  .flip:hover{
  transform: rotateY(-180deg);
  }

.flip .flip1,
.flip .flip2{
position: absolute;
backface-visibility: hidden;
}
.flip .flip2{
transform: rotateY(-180deg);
}

.biodescripcion{
  padding-top: 340px;
  
}

.portfolio{
  display: block;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.portfolio div{
  text-align: center;
  margin: 20px;
}

.titulocentrado{
  text-align: center;
  font-size: 30px;
}

form{
  font-family: terminalfont;
  color: white;
}

#redes{
  padding: 20px;
  margin-right: 100px;
  margin-left: 80px;
}

#redes ul li {
  height: 132px;
  width: 132px;
  background-color: black;
  text-align: center;
  font-family: terminalfont;
  color: white;
}

#redes ul li a{
  background-color: black;
}

div#contacto{
  display:flex;
  flex-direction: column;
  align-items: center;
}
td#mensaje{
  display: block;
}
#enviar{
  display: flex;
  justify-content: right;
}
footer{
  display: block;
  text-align: center;
}