
header{
  padding-top: 0;
  position:fixed;
  width: 100%;
  height: 220px;
  background-image: url(ma3.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
}
img.logo{
  width: 650px;
  height: 120px;
}
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}
.contenido {
  padding-top: 220px;
position: static ;
}

  p, h2, h3 {
    color: rgb(255, 255, 255);
     font-family: 'Times New Roman', Times, serif;}

@font-face {
  font-family: SigmarOne;
  src: url(fonts/SigmarOne-Regular.ttf);
  font-weight: bold;
  }

h1 {
  font-family: SigmarOne;
  font-size: 50px;
  color: rgb(255, 200, 0);
  text-align: center;
  height: 80px;
  font-size-adjust: 0.6;
}
.barranav div{
  width: 100%;
  height: auto;
  align-self: center;
  
}
div ul li a{
  border: 1px solid rgb(0, 0, 0);
  float: left;
  text-align: center;
  background-color: rgba(201, 7, 255, 0.3) ;
  width: 100%;
}

div ul{
  list-style: none ;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0 0 0 0;
  margin-bottom: 0;
}

div li{
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

.navegador p {
  font-family: SigmarOne;
  font-size: 20px;
  color: rgb(255, 200, 0);
}
div.logo{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.subtitulo {
  text-align: center;
  font-family: SigmarOne;
  font-size: 20px;
  color: rgb(255, 200, 0);
}

@keyframes example {
  0%   { opacity: 0; left:100px}
  25%  { opacity: 1;}
  50%  { opacity: 0; right:200px}
  75%  { opacity: 1;}
  100% { opacity: 0; left:100px}
}
div.imgindex {
  padding-top: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.imgindex img{
  width: 80%;
}
#subtituloanimado{
  animation-name: example;
  animation-duration: 10s;
}