body {
    background-color: rgb(0, 0, 0);
  }
  p, h1, h2, h3 {color: chartreuse; font-family: 'Times New Roman', Times, serif;}
h1 {text-align: center;
    bac}
 * {border: 2px; border-style:groove; border-color: chartreuse;}

nav {padding: 30px;}
